.recommendation-content {
   font-family: open sans;
   background: rgb(244,244,244);
   padding-bottom: 5%;
   min-width: 1000px;
}

.title-container {
   background: rgb(22,159,190);
   text-align: center;
   color: rgb(250,250,250);
   font-size: 110%;
}

.main-title {
   padding: 1.5%;
   font-weight: 300;
}

