.form-container {
   text-align: center;
   padding: 1%;
}

.form-container .text-input {
   padding: 1%;
   width: 30%;

   font-size: 100%;
   border: 1px solid rgb(10,98,105);
}

.form-container .submit.button {
   border: 1px solid rgb(150,150,150);
   background-color: rgb(230,230,230);

   font-size: 90%;
   font-weight: 100;

   padding-top: 1.1%;
   padding-bottom: 1%;
   padding-left: 2%;
   padding-right: 2%;
   margin-left: 1%;

   cursor: pointer;
}

.form-container .entry-message-container {
  display: none;
  margin-top: 2%;
}

.form-container .allow-message {
  color: forestgreen;
}

.form-container .denial-message {
  color: maroon;
}

.form-container .vanilla-message {
  color: darkgray;
}

.form-container .entry-message-container.active {
  display: block;
}

.stacked-radios {
  display: inline-block;
  vertical-align: bottom;
}

.stacked-radios .stacked-radio {
  text-align: left;
}
